		.weui-grid{
			width: 25%;
		}			
		.ind-hd h4 {
		    text-align: center;
		    padding: 15px 0;
		    position: relative;
		}			
		.weui-footer__text{
			padding: 5px;
		}			
					
		.cont2{
			height: 50px;background: white;line-height: 50px;
		}
		.cont2 span{
			color: orangered;font-size: 16px;margin-left: 30px;display: block;position: relative;font-weight: bolder;
		}
		.span1::before{
			content: "";display: block;height: 40px;width: 15px;background: orangered;position: absolute;left: -35px;top: 5px;border-radius: 5px;
		}
		.cont2-left,.cont2-right{
			float: left;
		}
		.cont2-right{
			float: right;
		}
		.more2{
			font-size: 16px;color: orangered;display: block;margin-right: 16px;text-decoration: none;
		}    
   
		.icon_01{
			height: 90px;border-top: 1px solid #cccccc ;border-bottom: 1px solid #CCCCCC;
		}
		.icon_01 ul li{
			list-style: none;display: block;float: left;width: 20%;text-align: center;
		}
		.icon_01 ul li a{
			text-decoration: none;display: block;color: #696969;font-size: 16px;height: 85px;line-height: 130px;
		}
		.icon_01 ul li:nth-child(1) a{
			background: url(../images/家长端/个人信息_所在班级.png)no-repeat center 20px;
		}
		.icon_01 ul li:nth-child(2) a{
			background: url(../images/家长端/个人中心_班级通告.png)no-repeat center 20px;
		}
		.icon_01 ul li:nth-child(3) a{
			background: url(../images/家长端/排课.png)no-repeat center 20px;
		}
		.icon_01 ul li:nth-child(4) a{
			background: url(../images/家长端/积分.png)no-repeat center 20px;
		}
		.icon_01 ul li:nth-child(5) a{
			background: url(../images/家长端/订单.png)no-repeat center 20px;
		}
		.icon_01 ul li a:hover{
			color: #e13e41;/*background: url(images/家长端主界面/10-相机.png)no-repeat center 10px;*/
		}
		/*.icon_01 ul li::before{
			height: 35px;width: 1px;background: #cccccc;content: "";display: block;float: right;margin-top: 50px;
		}*/
		.icon_01 ul .li-none::before{
			display: none;
		}    	
		.picture .picture_01 ul li{
			display: block;float: left;width: 50%;margin-top: 2px;text-align: center;
		}
		.pic img{
			height: 200px;width: 99%;
		}
		

		.weui-grid__label		
		{
			color: black;
			font-weight: 600;
			font-size: 14px;
		}
		.weui-footer a{
			margin-top: 10px;
		}
		
		/*教师端*/
		.weui-flex{
			background: ghostwhite;
		}
		.weui-flex__item {
			text-align: center;
		}	
		.weui-flex__item{
			padding: 10px;
		}
		.weui-flex__item i{
			color: red;
			font-size: 20px;
			font-style: normal;
		}
