		.weui-grid{
			width: 25%;
		}			

		.home_top{
			background: #efb312;
			font-size: 15px;
			color: white;
			font-family: "微软雅黑";
		}

	
		.bottom_list{
			width: 100%;
			height: 50px;
			position: fixed;
		}	
	
					
		.ind-hd h4 {
		    text-align: center;
		    padding: 15px 0;
		    position: relative;
		}			
		.weui-footer__text{
			padding: 5px;
		}			
					
		.cont2{
			height: 50px;line-height: 50px;
		}
		.cont2 span{
			color: orangered;font-size: 16px;margin-left: 30px;display: block;position: relative;font-weight: bolder;
		}
		.span1::before{
			content: "";display: block;height: 40px;width: 15px;background: orangered;position: absolute;left: -35px;top: 5px;border-radius: 5px;
		}
		.cont2-left,.cont2-right{
			float: left;
		}
		.cont2-right{
			float: right;
		}
		.more2{
			font-size: 16px;color: orangered;display: block;margin-right: 16px;text-decoration: none;
		}    

		.picture .picture_01 ul li{
			display: block;float: left;width: 50%;margin-top: 2px;text-align: center;
		}
		.pic img{
			height: 200px;width: 99%;
		}
		

		.weui-grid__label		
		{
			color: black;
			font-size: 14px;
		}
		.weui-footer a{
			margin-top: 10px;
		}
		
		/*教师端*/
		.weui-flex{
			background: ghostwhite;
		}
		.weui-flex__item {
			text-align: center;
		}	
		.weui-flex__item{
			padding: 10px;
		}
		.weui-flex__item i{
			color: red;
			font-size: 20px;
			font-style: normal;
		}
		.j_page_title{
		background: url(../images/06.jpg) ;height: 100px;color: black;margin: 0px;
		}
		.j_page_title	p{
			display: block;padding: 25px 0px;font-size: 30px;text-align: center;margin: 0px;
		}	
		

/*课程表头部*/
			.weui-cell__bd i{
				display: block;width: 20px;height: 20px;float: left;margin-right: 5px;
			}
			.weui-media-box__des{
				font-size: 16px;
			}
			
			.new_shijian{
				text-align: center;
			}
			.left_01{
				float: left;
			}
			.right_01{
				float: right;
			}
			.j_box.j_box_primary{
							margin-top: 10px;
							}				
			.j_obj_item_label{
				margin-left: 20px;
			}
			.j_obj_item .j_obj_item_text{
				margin-left: 45px;
			}
			.j_mt10{
				margin-top: 0px;
			}
			.j_pd10{
				padding: 0px;
			}
			.weui-btn_primary {
		    background-color: #337ab7;
			}

/*手机前面图标	*/		
			.weui-cell__bd i{
				display: block;width: 20px;height: 20px;float: left;margin-right: 5px;
			}
			.icon_001{
				background: url(../images/icon_small/icon_01.png) no-repeat 0px 5px;
			}
			.icon_002{
				background: url(../images/icon_small/icon_02.png) no-repeat 0px 5px;;
			}
			.icon_003{
				background: url(../images/icon_small/icon_03.png) no-repeat 0px 5px;;
			}
			.icon_004{
				background: url(../images/icon_small/icon_04.png) no-repeat 0px 5px;;
			}
			.icon_005{
				background: url(../images/icon_small/icon_05.png) no-repeat 0px 5px;;
			}
			
/*parent_01_Registration-information*/
			.weui-cell__bd i{
				display: block;width: 20px;height: 20px;float: left;margin-right: 5px;
			}
			/*家长报名列表*/
			.weui-media-box__des{
				font-size: 16px;
			}
			.weui-flex {
				background: white;
			}
			.j_flex_grid{
				padding: 0px;
			}
			.weui-flex__item i {
				color: #1d89ab;
			}
/*界面header*/
			header{
				width: 100%;height: 36px;line-height: 36px;text-align: center;background: rgb(30, 65, 134);position: relative;
			}
			header span{
				font-size: 18px;color: white;
			}
			.img_1{
				background:url(../images/parent/parent_back.png) center no-repeat;width: 30px;height: 30px;display: block;margin-left: 15px;margin-top: 3px;
				position: absolute;
			}
		/*移到此处显示蓝色*/
			/*.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{
				color: #5e96f0;
			}*/